In [20]:
import requests
import pandas as pd

main_df = pd.DataFrame()

api_key = "3A_4_VWRJMgnJGTMIOXgKBRLxPjzFKaYebN281YJeF1RlUAUjy9gh8g_dDO09wU2WKKr8wZTwVX6VSnNpO1duKK3G0UUjOCZc9X682U136OaQbW6CgbPGNgqnnMGZXYx"

url = "https://api.yelp.com/v3/businesses/search"

headers = {"Authorization": f"Bearer {api_key}"}

target_number = 1000

for offset in range(0, target_number, 50):

    params = {
        "location": "New York City",
        "limit": 50,
        "term": "restaurants",
        "offset": offset
    }

    response = requests.get(url, headers=headers, params=params)
    
    if response.status_code != 200:
        print(f"Failed to get data. Status code: {response.status_code}")
        print(response.json())
        break

    data = response.json()

    try:
        temp_df = pd.DataFrame(data['businesses'])
        main_df = pd.concat([main_df, temp_df]).drop_duplicates('id')
    except KeyError:
        print("Key 'businesses' not found in the API response.")
        print(data)
        break

main_df.reset_index(drop=True, inplace=True)

Failed to get data. Status code: 400
{'error': {'code': 'VALIDATION_ERROR', 'description': 'Too many results requested, limit+offset must be <= 1000.'}}

In [21]:
main_df

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,fVbUVAiLiGgLA_nxBFxyww,thursday-kitchen-new-york,Thursday Kitchen,https://s3-media2.fl.yelpcdn.com/bphoto/rNxrGd...,False,https://www.yelp.com/biz/thursday-kitchen-new-...,1772,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.5,"{'latitude': 40.72761, 'longitude': -73.98373}","[delivery, pickup]",$$,"{'address1': '424 E 9th St', 'address2': None,...",,,2606.286468
1,MGd6HFEq1ALD58XWNviSXw,time-out-market-new-york-brooklyn,Time Out Market New York,https://s3-media3.fl.yelpcdn.com/bphoto/i6bEoM...,False,https://www.yelp.com/biz/time-out-market-new-y...,516,"[{'alias': 'food_court', 'title': 'Food Court'}]",4.0,"{'latitude': 40.70342863348067, 'longitude': -...",[],$$,"{'address1': '55 Water St', 'address2': '', 'a...",+19178104855,(917) 810-4855,295.363146
2,nMyot99PkX5iYCdxHoRJqQ,ariari-new-york,ARIARI,https://s3-media1.fl.yelpcdn.com/bphoto/IQbVjJ...,False,https://www.yelp.com/biz/ariari-new-york?adjus...,197,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.5,"{'latitude': 40.727283504010266, 'longitude': ...",[],NaN,"{'address1': '119 1st Ave', 'address2': None, ...",+16464227466,(646) 422-7466,2519.475580
3,IA3EQ0Ilx0yI7dNYnq-YGQ,salma-new-york,Salma,https://s3-media4.fl.yelpcdn.com/bphoto/1HF8xH...,False,https://www.yelp.com/biz/salma-new-york?adjust...,167,"[{'alias': 'lebanese', 'title': 'Lebanese'}, {...",4.5,"{'latitude': 40.730369942268375, 'longitude': ...","[delivery, pickup]",$$,"{'address1': '351 E 12th St', 'address2': '', ...",+19172614900,(917) 261-4900,2899.804039
4,hLXe3RVRK39VUSPdvBjFEA,kalye-new-york,Kalye,https://s3-media3.fl.yelpcdn.com/bphoto/7iAlnj...,False,https://www.yelp.com/biz/kalye-new-york?adjust...,96,"[{'alias': 'filipino', 'title': 'Filipino'}]",4.5,"{'latitude': 40.7179, 'longitude': -73.98999}","[delivery, pickup]",$$,"{'address1': '251 Broome St', 'address2': '', ...",+16464227267,(646) 422-7267,1421.222012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,NTwOc9yQ1xl5deeVzZqxfw,tavern29-new-york,Tavern29,https://s3-media1.fl.yelpcdn.com/bphoto/Rl5aC_...,False,https://www.yelp.com/biz/tavern29-new-york?adj...,1027,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 40.74431, 'longitude': -73.98394}","[pickup, delivery]",$$,"{'address1': '47 E 29th St', 'address2': None,...",+12126854422,(212) 685-4422,4393.876720
916,6ZfVmImuKJg9lB1PF4pfPg,taqueria-fort-greene-brooklyn,Taqueria Fort Greene,https://s3-media1.fl.yelpcdn.com/bphoto/Xma0q6...,False,https://www.yelp.com/biz/taqueria-fort-greene-...,55,"[{'alias': 'tacos', 'title': 'Tacos'}]",3.5,"{'latitude': 40.6930219027123, 'longitude': -7...","[pickup, delivery]",NaN,"{'address1': '154 Carlton Ave', 'address2': ''...",+13478449846,(347) 844-9846,2272.645191
917,1raTNJpNeTOLLJsm5YY1mA,as-you-are-brooklyn-2,As You Are,https://s3-media2.fl.yelpcdn.com/bphoto/MxkoKY...,False,https://www.yelp.com/biz/as-you-are-brooklyn-2...,47,"[{'alias': 'newamerican', 'title': 'American (...",3.5,"{'latitude': 40.68792054536623, 'longitude': -...",[],NaN,"{'address1': '252 Schermerhorn St', 'address2'...",+17183033535,(718) 303-3535,2153.336772
918,pRfGeyi4TcpLPKQTNtPx6w,eastern-parkway-bbq-man-brooklyn,Eastern Parkway BBQ Man,https://s3-media1.fl.yelpcdn.com/bphoto/iarMck...,False,https://www.yelp.com/biz/eastern-parkway-bbq-m...,6,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",5.0,"{'latitude': 40.67045, 'longitude': -73.95806}",[],NaN,{'address1': 'Eastern Parkway And Franklin Ave...,,,4954.646332
919,TbZ7mJqWuyJycLPNDrbY6A,ishi-omakase-and-premium-sake-brooklyn,Ishi Omakase & Premium Sake,https://s3-media4.fl.yelpcdn.com/bphoto/hY7fnn...,False,https://www.yelp.com/biz/ishi-omakase-and-prem...,36,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",5.0,"{'latitude': 40.68099, 'longitude': -73.97752}",[],NaN,"{'address1': '70 5th Ave', 'address2': '', 'ad...",+19179091935,(917) 909-1935,3070.181794

In [22]:
main_df.to_csv('datasources/archive/NYC_Restaurants_rawdata.csv', index=False)