In [26]:
# Dependencies
import requests
import json
from pathlib import Path
import pandas as pd
from geopy.geocoders import Nominatim

In [27]:
# Define the path to your JSON file
json_file = '../yelp_3/yelp_dataset/yelp_academic_dataset_business.json'

In [28]:
# Read the JSON file into a DataFrame
with open(json_file, 'r', encoding='utf-8') as file:
    data = [json.loads(line) for line in file]

df = pd.DataFrame(data)

In [35]:
# View the first 5 rows
df.head(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [30]:
# List out the column titles
column_titles = df.columns
print(column_titles)

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [36]:
# Filter the DataFrame to keep only rows with 'NY' in the 'state' column
df_ny = df[df['state'] == 'NY']

# Display the first 5 rows of the filtered DataFrame
print(df_ny.head(5))

Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours]
Index: []

In [34]:
# Get the count of each unique value in the 'state' column
state_counts = df['state'].value_counts()

# Print out the unique values and their counts
for state, count in state_counts.items():
    print(f'State: {state}, Count: {count}')

State: PA, Count: 34039
State: FL, Count: 26330
State: TN, Count: 12056
State: IN, Count: 11247
State: MO, Count: 10913
State: LA, Count: 9924
State: AZ, Count: 9912
State: NJ, Count: 8536
State: NV, Count: 7715
State: AB, Count: 5573
State: CA, Count: 5203
State: ID, Count: 4467
State: DE, Count: 2265
State: IL, Count: 2145
State: TX, Count: 4
State: CO, Count: 3
State: WA, Count: 2
State: HI, Count: 2
State: MA, Count: 2
State: NC, Count: 1
State: UT, Count: 1
State: MT, Count: 1
State: MI, Count: 1
State: SD, Count: 1
State: XMS, Count: 1
State: VI, Count: 1
State: VT, Count: 1

In [31]:
# Filter the DataFrame to keep only rows with 'NY' in the 'state' column
df_ny = df_sorted[df_sorted['state'] == 'NY']

# Display the first 10 rows of the filtered DataFrame
df_ny.head(10)

Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours]
Index: []

In [12]:
# Sort the DataFrame by the "STATE" column in ascending order
df_sorted = df.sort_values(by='state', ascending=True)

# Display the first 10 rows of the sorted DataFrame
df_sorted.head(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
96221,t2Rhq5ubtKYJB1oqWi_pcw,McBain Camera,10805 107 Avenue NW,Edmonton,AB,T5H 0W9,53.551112,-113.507263,3.0,11,1,"{'BusinessParking': '{'garage': False, 'street...","Shopping, Hobby Shops, Photography Stores & Se...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-17:0', '..."
127395,xv2optDghfbxGDhTSCvxEA,Whitemud World Health,4219 99 Street NW,Edmonton,AB,T6E 5V7,53.479566,-113.485158,2.5,12,0,{'GoodForKids': 'True'},"Trainers, Active Life, Gyms, Fitness & Instruc...","{'Monday': '5:0-0:0', 'Tuesday': '5:0-0:0', 'W..."
30415,823OhurSJe7SKhFvd9u0uQ,Devaney's Irish Pub,11113 87 Avenue NW,Edmonton,AB,T6G 0X8,53.522900,-113.518489,3.5,7,0,"{'RestaurantsDelivery': 'False', 'GoodForKids'...","Nightlife, Pubs, Music Venues, Restaurants, Ir...","{'Monday': '11:0-1:0', 'Tuesday': '11:0-1:0', ..."
71646,mY7DKQ6qQYr_V21TWmspOA,Milestones Restaurants,1708-99th Street NW,Edmonton,AB,T6N 1M5,53.445782,-113.485574,3.0,78,0,"{'NoiseLevel': 'u'average'', 'GoodForKids': 'T...","American (New), Restaurants, Bars, Canadian (N...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
71635,73uFR4QuDuH9VD1oehtOQQ,Summerside Pizza and Donair,"2956 Ellwood Drive SW, Unit 15",Edmonton,AB,T6X 0A9,53.429823,-113.478780,2.5,12,1,"{'BusinessParking': '{'garage': False, 'street...","Pizza, Restaurants, Indian, Donairs, Food","{'Monday': '10:0-23:0', 'Tuesday': '10:0-23:0'..."
127428,YHN77g2zWsEN1F_q9W_WdQ,Cha Island Tea,10332 81 Avenue,Edmonton,AB,T6E 1X2,53.517210,-113.496533,4.0,31,0,"{'Alcohol': 'u'none'', 'HasTV': 'False', 'Rest...","Tea Rooms, Coffee & Tea, Restaurants, Sandwich...","{'Monday': '16:30-23:0', 'Tuesday': '16:30-23:..."
71602,2whW4Ko3ZvtPtLvlrSDsSg,Apple Box Boutique,6507 112 Avenue,Edmonton,AB,T5W 0P1,53.564657,-113.437996,4.0,8,1,"{'BusinessParking': '{'garage': False, 'street...","Home Decor, Furniture Stores, Shopping, Home &...","{'Thursday': '11:0-17:0', 'Friday': '11:0-17:0..."
127453,u-2a-1lUIriHWcsdOZTbmw,Sobeys Urban Fresh,10404 Jasper Avenue,Edmonton,AB,T5J 1Z3,53.540942,-113.499541,3.0,20,0,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Food, Grocery","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
127471,CMGjAu34wZIW6wrLH8fIZg,Candy Bouquet,12 Perron St,St Albert,AB,T8N 1E4,53.633971,-113.625871,4.0,10,1,"{'RestaurantsPriceRange2': '2', 'BikeParking':...","Specialty Food, Food, Candy Stores","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ..."
127485,q9rKHxk39vde6IJmOBqQ5g,The Face Shop,8882 170 Street,Edmonton,AB,T5T 4M2,53.524695,-113.616105,2.5,10,1,"{'ByAppointmentOnly': 'False', 'BikeParking': ...","Cosmetics & Beauty Supply, Beauty & Spas, Shop...","{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'..."

In [15]:
df_sorted.tail(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
95091,oTRrNy5VIaTw7MKEvxZl7A,Wildlife Wonders,"7703 N Lamar Blvd, Ste 118",Austin,TX,78752,27.839893,-82.764505,2.0,9,1,"{'RestaurantsPriceRange2': '3', 'BusinessAccep...","Shopping, Outdoor Furniture Stores, Home Decor...","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ..."
34661,Zo2tRIvtAfoENtbw2USoYg,2400 Briarwest,2400 Briarwest Blvd,Houston,TX,77077,36.082662,-86.944270,1.5,12,1,None,"Real Estate, Home Services, Apartments","{'Monday': '9:0-18:0', 'Tuesday': '9:0-18:0', ..."
97813,kEjAs-w4dN9W1n6jE7Tivg,Residences at Glenview Reserve Apartment Homes,100 Arbor Creek Blvd,Nashville,TX,37217,36.133400,-86.698535,3.0,5,1,None,"Real Estate, Home Services, Apartments","{'Monday': '10:0-18:0', 'Tuesday': '9:0-18:0',..."
32536,qw_eRqiGeYwsbTfkpd_Pqg,Southern Luxe Beauty,31 Eagles Ct,Mount Juliet,TX,37122,36.127951,-86.472299,5.0,7,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Beauty & Spas, Makeup Artists, Hair Salons, Ha...","{'Monday': '5:0-23:0', 'Tuesday': '5:0-23:0', ..."
32345,f-S2Y0OO00cQjo8yj3upKg,Find Your Zen,,Eagle,UT,83616,43.695442,-116.354014,4.5,19,1,"{'ByAppointmentOnly': 'True', 'GoodForKids': '...","Health & Medical, Fitness & Instruction, Train...",None
135715,QQXwvLlbMtnAgjY8YKEzuA,The Moorings,,Tortola,VI,00802,27.967205,-82.722471,2.5,10,0,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Boating, Boat Charters, Hotels & Travel, Vacat...","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ..."
144012,g0fYqQRRKmYIfChE4jMLsg,All Service Citgo,212 Lincoln St,Bennington,VT,05201,42.885480,-73.200457,4.5,10,1,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","Oil Change Stations, Automotive, Gas Stations,...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
29606,qbh_Xg-wfgk_qINdyApMag,Valvoline Instant Oil Change,325 NE Myra Road,College Place,WA,99324,39.611974,-86.158897,4.5,13,1,{'BusinessAcceptsCreditCards': 'True'},"Oil Change Stations, Automotive","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
10948,kNK3tjrKa6e_Tf9c9WWehA,Suave Nails,4013 N Market St,Spokane,WA,99207,39.760807,-75.522491,2.5,6,1,"{'BikeParking': 'True', 'BusinessParking': 'No...","Beauty & Spas, Nail Salons",None
98685,IvQs2hhXKZ4NgZhVZ5jjjQ,Pumpernickles Catering,95a Mount Pleasant,Liverpool,XMS,L3 5TB,38.673049,-90.423156,4.0,5,1,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Caterers, Breakfast & Brunch, Convenience Stor...",None

In [22]:
# Filter the DataFrame to keep only rows with 'NY' in the 'state' column
df_ny = df_sorted[df_sorted['state'] == 'NY']

# Display the first 10 rows of the filtered DataFrame
df_ny.head(10)

Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours]
Index: []

In [ ]:
# Filter the DataFrame to keep only rows with 'NY' in the 'state' column
df_tx = df_sorted[df_sorted['state'] == 'TX']

# Display the first 10 rows of the filtered DataFrame
df_ny.head(10)

In [13]:
# Define the path for the CSV output file
csv_file = 'yelp_academic_dataset_business.csv'

# Export the DataFrame to a CSV file
df_sorted.to_csv(csv_file, index=False)

In [ ]:
######################################################################################################